.footer{
    padding: 3rem 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    color:white;
    background-color: #030303;
    justify-items: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social{
    color:white;
    text-decoration: none;
}

.social:hover {
    color: #4dac96; 
    transform: translateY(-1px) scale(1.001);
}
.icons{
    font-size: 1.5rem;
}