* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: 'Inter', sans-serif;
  --heading-font: 'Poppins', sans-serif;
  --primary-color: #2D9CDB;
  --secondary-color: #56CCF2;
  --tertiary-color: #E0E0E0;    
}